*{
    margin:0;
}


body{
    font-family: arial;
    font-size:14pt;
}

#nconfig{
    font-family: 'arial';
    color:rgb(243, 243, 245);
    font-size: 1.2em;
    padding-left:20px;
    padding-top:15px;  
 }


header{
   
    display:flex;
    background-color:rgba(36, 46, 53, 0.7);
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    height: 50px;
}



ul{
    display:flex;
    position: relative;
    top:18px;  
     left: 710px;
     list-style-type: none;

    
  }
li{
    
    margin-left:50px;
    font-size: 0.85em;
}
li a{
    color:rgb(243, 243, 245);
    text-decoration-style: none;

}

#capa{
    
    width: 100%;
    height: 100%;
}


section{

    text-align: center justify; 
    margin-left:3.5em;
    margin-right:1.8em;
}

.subtitulo{ 
    font-family: Cambria;
    line-height: 3em;
    text-align: center;
    
}
.compactado{
    
    margin-top:1.56em;
    margin-left:3.375em;
    margin-right:30px;
    line-height: 1.9em;
   

}

h1{
    font-family:arial;
    color:whitesmoke;
    width: 100%;
    height: 1.3em;
    text-align: center;
    font-size: 2.4.5em;
    margin-left:0em;
    background-color: rgba(28, 46, 58, 1.2); 
    margin-top:-0.15em;  
}


.imagem1{
    float:left;
    margin:0 20px 10px 0;
}
/* #det{
    
} */
#det{
    justify-content: center;
}

.secao1{
    display: block;
    justify-content: center;
}

.secao1 img{
    width:597px ;
    height: 336px;
    margin-left: 316px;
}

footer{
    background-color:rgba(36, 46, 53, 0.7);
    height:12.5em;
    display:flex;
    width:100%;
    height:6.25em;
    margin-top: 1.875em;
    


}
.flogo{
    width: 100px;
    position:relative;
    top:17px;
    left:530px;
    height: 4em;
    width: 7em;
   
}

footer p{
    font-family:Cambria;
    text-align: center;
    font-size: 28px;
    color:whitesmoke;
    text-align: center;
    position:relative;
    top:24px;
    height: 40px;
    left:525px;


}
h2{
    font-family: Cambria;
    line-height: 3em;
    text-align: center;
}




/*   border: 2px solid black;  */
